{
    "presets": [
        ["env",{
            "targets": {
                "node": 8,
                "chrome": 65,
                "browsers": ["last 2 versions","safari 11"]
            }
        }],
    ]
}